@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden; 
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: url('http://codingstella.com/wp-content/uploads/2024/01/download-5.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
  animation: animateBg 5s linear infinite;
}

@keyframes animateBg {
  100% {
    filter: hue-rotate(360deg);
  }
}

.login-box {
  position: relative;
  width: 500px;
  max-width: 90%; 
  height: auto;
  max-height: 90vh; 
  padding: 40px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  border: 2px solid rgba(255, 255, 255, .5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(35px);
  overflow: auto; 
  margin-bottom: 150px;
}

h2 {
  font-size: 2em;
  color: #fff;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  max-width: 310px;
  margin: 30px 0;
  border-bottom: 1px solid #fff;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #fff;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  top: 50%;
  color: #fff;
  transform: translateY(-50%);
}

button {
  width: 100%;
  max-width: 310px;
  height: 40px;
  background-color: #fff;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1em;
  color: #000;
  font-weight: 500;
  margin-top: 20px;
}

@media (max-width: 500px) {
  .login-box {
    width: 90%;
    max-width: 100%;
    height: auto;
    max-height: 90vh; 
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 200px;
  }

  h2 {
    font-size: 1.5em;
  }

  .input-box {
    width: 100%;
  }

  button {
    width: 100%;
  }
}
